body{
    background-color:rgb(236, 153, 153);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-size: cover;


}
.nav-container{
    display: flex;
    align-items: center;
     
    margin-left: 900px;

    
}
nav ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    
}
nav ul li{
    display: inline;
    margin-right: 20px;
    padding-right: 30px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bolder;
}
.flower{
    background-color:rgb(253, 179, 191);
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;   
    
}
.flower h1{
    font-size: 40px;
    color: rgb(204, 101, 156);
    font-weight: 500;

}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.content img{
    margin: 10px 0px;
    max-width: 100%;
    width: 49%;
    
    
}
.features div p{
    text-align: center;
    justify-content: left;
    padding: 10px 20px;
    background-color: blanchedalmond;
}
.login-form{
    display: flex;
    flex-direction: column;
    max-width: 30px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    height: 150px;
    width: auto;
    padding-top: 50px;
    font-weight: 700;
    
    
}
.login-form div{
    margin-bottom: 15px;

}
.login-form label{
    margin-bottom: 50px;
}
.login-form input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 50px;
}
.login-form button{
    padding: 20px;
    background-color: rgb(228, 170, 212);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}
.footer{
     text-align:  center;
     padding: 20px;
     background-color: lightpink;
     color: lightcoral;
     font-size: 14px;
}


.flower{
    font-size: 30px;
}
.flower button{
    padding: 10px 20px;
    font-size: 14px;
}